@model Softserve_Chat_SignalR.Models.tblChatMessages

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tblChatMessages</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="padding: 10px 10px 10px 10px">
            <div class="form-group col-sm-5">
                @Html.LabelFor(model => model.iUserID, "iUserID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("iUserID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.iUserID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-5">
                @Html.LabelFor(model => model.iChatLogID, "iChatLogID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("iChatLogID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.iChatLogID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px">
            <div class="form-group col-sm-5">
                @Html.LabelFor(model => model.strMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.strMessage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.strMessage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-5">
                @Html.LabelFor(model => model.bIsDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" >
                    <div class="checkbox" align="left" style="padding: 7px 0px 5px 25px">
                        @Html.EditorFor(model => model.bIsDeleted)
                        @Html.ValidationMessageFor(model => model.bIsDeleted, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
